.product {
    padding: 86px 0 76px;
    &__media {
        flex: 0 0 auto;
        width: 41.666667%;
        justify-content: center;
        text-align: center;
        margin-bottom: $gutter;
        &-video {
            position: relative;
            display: block;
            & img {
                width: 100%;
                max-width: 352px;
            }
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: url(../img/play_btn.png) center center no-repeat;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__desc {
        flex: 0 0 auto;
        width: 58.333333%;
        display: flex;
        flex-wrap: wrap;
        &-title {
            flex: 0 0 auto;
            width: 100%;
            font-size: 1.5em;
            font-family: $Mpro;
            color: $blue;
            margin: 0;
        }
        &-subtitle {
            font-size: 1.1em;
            color: $blue;
            font-weight: 400;
            font-family: $Mpro;
            margin: 0 0 20px 0;
        }
        &>* {
            padding-right: $gutter / 2;
            padding-left: $gutter / 2;
        }
    }

    &__photo {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 0 30px 0;
    }

    &__chars {
        flex: 0 0 auto;
        width: 50%;
        margin-bottom: $gutter;
    }

    &__techs {
        flex: 0 0 auto;
        width: 50%;
        &-table {
            border-spacing: 0;
            &_marker {
                position: relative;
                top: -1px;
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 1px solid $grey-2;
                transform: rotate(45deg);
                &.active {
                    background: $grey-2;
                }
            }
            & tr {
                background: #fff;
            }
            & th {
                text-align: left;
                padding: 0px 10px;
                font-size: 0.9em;
                text-transform: uppercase;
                background: $grey;
            }
            & td {
                text-align: left;
                padding: 7px 10px;
                font-weight: 400;
                font-size: 0.8em;
                line-height: 1;
                border-bottom: 1px solid #c1c2c4;
                & + td {
                    text-align: center;
                    white-space: nowrap;
                }
                &:last-child {
                    width: 30px;
                }
            }
        }
    }
    &__price {
        flex: 0 0 auto;
        width: 100%;
        text-align: right;
        font-size: 2em;
        font-weight: 700;
        margin-top: $gutter * 1;
        margin-bottom: $gutter * 2;
        color: $blue;
        span {
            color: $red;
        }
    }
}

.product__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 50px;
}

.product__text-column {
    flex: 1 0 50%;
    padding-right: 50px;
}

@media (max-width:1080px) { 
    .product {
        &__chars {
            width: 100%;
        }
        &__techs {
            width: 100%;
        }
    }
}

@media (max-width:768px) { 
    .product {
        &__desc {
            width: 100%;
        }
        &__media {
            width: 100%;
            &-video img {
                max-width: none;
            }
        }
    }
}

@media (max-width: 500px) { 
    .product__row {
        padding: 0 15px;
    }
}