footer.footer
    .footer__top
        .footer__row-top.container
            .footer__logo
                img(src="img/logo.jpg", alt="logo")
            .footer__text-column
                p
                    strong Производственная площадка:
                    |425000, Республика Марий Эл, г. Волжск, ул. Промбаза, дом.1
                p
                    strong Офис продаж:
                    |119334, город Москва, Ленинский проспект, дом 37, корпус 1, помещение 2-5, этаж 4
                    a(href="tel:+74952601310") Тел: +7 495 260 1310
                    |(многоканальный)
            ul.footer__list
                each item in ["О КОМПАНИИ","ПРОДУКЦИЯ","СФЕРЫ ПРИМЕНЕНИЯ","КОНФИГУРАТОР","ГДЕ КУПИТЬ","СЕРВИС" ,"КОНТАКТЫ"]
                    li.footer__item
                        a.footer__nav-link(href="#")=item
            .footer__brand-column
                .footer__brand
                    img(src="img/PolairGroup.png", alt="PolairGroup")
                p.footer__brand-text Входит в POLAIR GROUP
    .footer__bottom
        .footer__row-bottom.container
            .footer__copy © Copyright 2021 - Radax- by Studioverde
            ul.footer__social-list
                li.footer__social-item
                    a.footer__social-link(href="#" aria-label="social")
                        img(src="img/youtube.png", alt="youtube")
                li.footer__social-item
                    a.footer__social-link(href="#" aria-label="social")
                        img(src="img/insta.png", alt="insta")
