-
    var arr = [
        {activeClass:"nav__link--active",href:"main-page.html",text:"Главная",hoverBlock:false,hoverClass:""},
        {activeClass:"",href:"#",text:"Стратегии",hoverBlock:false,hoverClass:""},
        {activeClass:"",href:"#",text:"Прогнозы",hoverBlock:true,hoverClass:"js-no-link"},
        {activeClass:"",href:"#",text:"Букмекеры",hoverBlock:true,hoverClass:"js-no-link"},
        {activeClass:"",href:"#",text:"Новости",hoverBlock:false,hoverClass:""},
        {activeClass:"",href:"#",text:"Бонусы",hoverBlock:false,hoverClass:""},
    ]

header.header
    .container.header__row
        .header__logo
            img(src="img/logo.jpg", alt="logo")
        include blocks/nav.pug
        form.header__search.js-block.js-block-inactive(data-block="search" action="#" method="GET")
            .header__lang
                label
                    input.visually-hidden(type="radio" name="lang" checked)
                    span RU
                label
                    input.visually-hidden(type="radio" name="lang")
                    span EN
            input(type="search" name="header-search" placeholder="Поиск по сайту")
        button.header__btn-search.js-btn(type="button" data-block="search")
            svg(width="25" height="25")
                use(xlink:href="#icon-search")
        button.hamburger.header__hamburger.js-btn(type="button" data-block="header-nav")
            span.hamburger__bar.hamburger__bar--bar1
            span.hamburger__bar.hamburger__bar--bar2
            span.hamburger__bar.hamburger__bar--bar3
            span.hamburger__bar.hamburger__bar--bar4
