mixin line-main(imgMan,caption,text,img)
    section.line-main
        .container.line-main__row
            .line-main__text-column
                .line-main__man
                    img(src=imgMan, alt="line-man")
                h1.h1.line-main__caption=caption
                .line-main__text=text
            .line-main__img-column
                .line-main__img
                    img(src=img, alt="line")

mixin line-text(text1,text2,img)
    section.line-text
        .container.line-text__row
            .line-text__text-column
                p!=text1
                p!=text2
            .line-text__img-column
                .line-text__img
                    img(src=img, alt="line-img")

mixin line-baner(img,caption,text)
    .line-banner(style="background-image:url("+img+");")
        .container
            .line-banner__caption=caption
            .line-banner__text=text
        .line-banner__overlay

mixin line-oven(img1,img2,img3,img4,img5,img6,name1,name2,name3,name4,name5,name6,text1,text2,text3,text4,text5,text6)
    section.line-oven
        .container.line-oven__row
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img1, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name1
                a(href="#").line-oven__text=text1
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img2, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name2
                a(href="#").line-oven__text=text2
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img3, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name3
                a(href="#").line-oven__text=text3
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img4, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name4
                a(href="#").line-oven__text=text4
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img5, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name5
                a(href="#").line-oven__text=text5
            .line-oven__card
                .line-oven__img-block
                    .line-oven__img
                        img(src=img6, alt="line-ove")
                        ul.line-oven__list
                            li.line-oven__item
                                a.line-oven__link(href="#") Информация
                            li.line-oven__item
                                a.line-oven__link(href="#") Сравнить
                            li.line-oven__item
                                a.line-oven__link(href="#") Конфигурировать
                a(href="#").line-oven__name=name6
                a(href="#").line-oven__text=text6
