section.news
    .container
        h2.h2.news__caption Новости
        .news__row
            each img in ["news-1.jpg","news-2.jpg","news-3.jpg","news-4.jpg"]
                .news__card.news-card
                    .news-card__img
                        img(src="img/"+img, alt="news-card")
                    .news-card__text Radax появился на базе российских высоких технологий.
                    a.button.news-card__link(href="#") Подробнее
