-
    var arr = [
        {img:"two-banner-1",text:"Новый итало- российский бренд"},
        {img:"two-banner-2",text:"Разработки  и производство"},
    ]

section.two-banner
    h2.visually-hidden radax
    .two-banner__row
        each card in arr
            .two-banner__card(style="background-image:url('img/"+card.img+".jpg');")
                .two-banner__caption Radax
                .two-banner__text=card.text
                a.button.two-banner__link(href="#") Подробнее
