.line-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 609px;
}

.line-card__img {
    margin-bottom: 30px;
    height: 338px;
    display: flex;
    align-items: flex-end;

    & img {
        width: 100%;
    }
}

.line-card__caption {
    margin-bottom: 22px;

    @include font-m(50px,300,1,0,#1c3b73);
    text-align: center;
}

.line-card__text {
    margin-bottom: 9px;

    width: 300px;
    max-width: 100%;

    @include font-m(28px,300,1.1,0,$black);
    font-style: italic;
    text-align: center;
}

.line-card__link {
    margin-top: auto;

    width: 122px;
    height: 45px;

    color: $black;
    font-size: 15px;
    border-color: $black;
}

@media (max-width:500px) {
    .line-card {
        min-height: 540px;
    }

    .line-card__text {
        font-size: 22px;
    }

    .line-card__caption {
        font-size: 12vw;
    }

    .line-card__img {
        height: 290px;
    }
}
