.line-slider {
    padding: 11px 0 43px;
}

.line-slider__container {
    position: relative;
    padding: 0 24px;
}

.line-slider__button-prev,
.line-slider__button-next {
    @include hover();

    position: absolute;
    top: 45%;

    width: 24px;
    height: 113px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.line-slider__button-next {
    left: -24px;
}

.line-slider__button-prev {
    right: -24px;
}

@media (max-width:1500px) {
    .line-slider__container {
        padding: 0 45px;
    }

    .line-slider__button-next {
        left: 0;
    }

    .line-slider__button-prev {
        right: 0;
    }
}

@media (max-width:1200px) {
    .line-slider__button-next {
        left: 9px;
    }

    .line-slider__button-prev {
        right: 9px;
    }
}
