.main-form {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-form__container {
    margin: 0 auto;
    padding: 82px 60px 50px;
    width: 848px;
    max-width: 100%;
}

.main-form__caption {
    margin: 0;
    margin-bottom: 30px;

    @include font-m(59px,400,1,0,$white);
}

.main-form__form {
    input[type=checkbox] {
        &:checked ~ label span::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;

            background-color: #636272;
        }
    }

    & label {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include font(16px,400,1.3,0,$white);

        & span {
            @include center();
            margin-right: 9px;

            width: 19px;
            height: 19px;

            background-color: $white;
            border: 1px solid #636272;
        }
    }

    & a {
        @include hover();

        margin: 0 2px;
        color: $white;
        text-decoration: underline;
    }
}

.main-form__row {
    display: flex;
    margin-bottom: 30px;

    & input {
        outline: none;
        padding: 5px 20px;
        flex-grow: 1;

        display: flex;
        align-items: center;
        height: 50px;

        @include font-m(18px,400,1,0,$black);
        border: 1px solid #636272;
    }

    & button {
        @include btn();
        @include hover();
        flex: 0 0 175px;
        height: 50px;

        @include font-m(22px,400,1,0,$white);
        text-transform: uppercase;

        background-color: #1c3b73;
    }
}

@media(max-width:600px) {
    .main-form__caption {
        font-size: 10vw;
    }

    .main-form__container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media(max-width:500px) {
    .main-form__container {
        padding-top: 50px;
    }

    .main-form__row {
        flex-wrap: wrap;
        justify-content: center;

        & input {
            flex-basis: 100%;
            margin-bottom: 19px;
        }
    }
}
