.main-slide {
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 15px solid #9ebffd;
}

.main-slide__container {
    display: flex;
    flex-direction: column;
    min-height: 785px;

    padding-left: 123px;
}

.main-slide__top-text {
    margin: 35px 0 77px;

    @include font-m(43px,400,1,0,$white);
}

.main-slide__caption {
    margin: 0;
    margin-bottom: 40px;

    width: 767px;
    max-width: 100%;

    @include font-m(120px,300,1,0,$white);
}

.main-slide__value {
    margin: 0;

    width: 555px;
    max-width: 100%;

    @include font-m(55px,300,1.2,0,$white);
    font-style: italic;
}

.main-slide__link {
    margin-top: auto;
    margin-bottom: 75px;

    width: 224px;
    height: 80px;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        opacity: 0.6;
    }
}

@media (max-width:1000px) {
    .main-slide__caption {
        font-size: 100px;
    }

    .main-slide__value {
        font-size: 40px;
    }

    .main-slide__top-text {
        font-size: 35px;
    }

    .main-slide__link {
        height: 60px;
    }

    .main-slide__container {
        min-height: 662px;
        padding-left: 25px;
    }
}

@media (max-width:550px) {
    .main-slide__container {
        padding-left: 15px;
        min-height: 590px;
    }

    .main-slide__top-text {
        font-size: 25px;
    }

    .main-slide__caption {
        font-size: 19vw;
    }

    .main-slide__value {
        font-size: 26px;
    }
}
