.main-big-slider {
    position: relative;

    & .swiper-pagination {
        position: absolute;
        z-index: 5;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    & .swiper-pagination-bullet {
        outline: none;
        margin: 0 5px;

        width: 20px;
        height: 20px;
        border: none;
        background: #6e74c3;
    }

    & .swiper-pagination-bullet-active {
        background: $white;
    }
}
