.news {
    padding: 65px 0 74px;
}

.news__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__card {
    flex: 0 0 24%;
}

.news__caption {
    margin-bottom: 30px;
}

@media(max-width:1200px) {
    .news {
        padding: 65px 0 55px;
    }

    .news__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .news__card {
        flex: 0 0 30%;
        margin-bottom: 25px;
    }

}

@media(max-width:700px) {
    .news__card {
        flex: 0 0 45%;
    }
}

@media(max-width:500px) {
    .news__card {
        flex: 1 0 100%;
        margin-bottom: 40px;
    }
}
