.sphere {
    padding: 40px 0 11px;

    background: no-repeat left 0 bottom 0/contain url('../img/sphere-shadow.png');
    border-bottom: 6px solid $white;
}

.sphere__caption {
    margin-bottom: 40px;
    text-align: center;
}

.sphere__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sphere__card {
    flex: 0 0 250px;
    margin-bottom: 45px;
}

.sphere__img {
    margin: 0 auto 25px;
    width: 165px;
    height: 165px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.sphere__text {
    @include font-m(24px,300,1.2,0,$black);
    font-style: italic;
    text-align: center;
}

@media (max-width:1360px) {
    .sphere__row {
        justify-content: space-around;
    }
}

@media (max-width:1050px) {
    .sphere__card {
        margin-bottom: 30px;
    }
}

@media (max-width:500px) {
    .sphere__text {
        font-size: 6.5vw;
    }
}
