.about {
    padding: 86px 0 76px;
}

.about__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

.about__text-column {
    flex: 1 0 50%;
    padding-right: 50px;
}

.about__img {
    flex: 1 0 50%;
    height: 560px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.about__caption {
    margin: 0;
    margin-bottom: 34px;

    @include font-m(48px,300,1.2,0,#1c3b73);

    & strong {
        font-weight: 600;

        & img {
            float: left;
            margin-right: 25px;
            margin-top: 10px;
        }
    }
}

.about__text {
    margin: 0;

    @include font-m(23px,300,1.3,0,#747474);
}

@media(max-width:1000px) {
    .about__row {
        display: block;
    }

    .about__text {
        margin-bottom: 30px;
    }
}

@media(max-width:500px) {
    .about__row {
        padding: 0 15px;
    }

    .about {
        padding: 64px 0 64px;
    }

    .about__caption {
        font-size: 9vw;

        & strong {
            & img {
                width: 60px;
                margin-right: 11px;
                margin-top: 7px;
            }
        }
    }

    .about__text {
        font-size: 19px;
    }

    .about__text-column {
        padding-right: 0;
    }

    .about__img {
        height: 336px;
    }
}
