.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
}

.banner__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
        margin: 0;
        margin-bottom: 15px;

        @include font-m(60px,400,1,0,$white);
        text-align: center;
    }

    & a {
        margin-top: 15px;

        width: 143px;
        height: 50px;
    }
}

@media(max-width:500px) {
    .banner {
        height: 400px !important;

        & h2 {
            font-size: 12vw;
        }
    }
}
