.breadcrumbs {
    @include list();

    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $blue;
    padding-bottom: 10px;

    //Егор
    margin: 32px 0 10px 0;
    &__row {
        padding: 0 50px;
    }
    &__title {
        font-size: 3.5em;
        line-height: 1em;
        font-weight: 400;
        color: $blue;
        margin-top: 15px;
    }
    //Илья
    /* padding-top: 32px;
    margin: 0 0 10px 10px;

    border-bottom: 1px solid $black;
    background-image: url('../img/top-shadow.png');
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;*/
}

.breadcrumbs__item {
    position: relative;
    margin-right: 12px;

    @include font-m(15px,400,1.2,0,$black);

    &:last-child {
        margin-right: 0;

        & .breadcrumbs__link {
            @include no-hover();
        }

        &::after {
            display: none;
        }
    }

    &::after {
        content: ">";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -9px;
    }
}

.breadcrumbs__link {
    @include hover();

    color: $black;
}

@media(max-width: 500px) {
    .breadcrumbs__row {
        padding: 0 15px;
    }
}

// @media(max-width:$desktop-width) {
//     .breadcrumbs {
//         margin: 28px 0 3px 1px;
//     }
// }

// @media(max-width:$desktop-min-width) {
//     .breadcrumbs {
//         margin: 28px 0 20px 1px;
//     }

//     .breadcrumbs__item {
//         margin-right: 9px;
//         font-size: 12px;

//         &::after {
//             right: -7px;
//             font-size: 9px;
//         }
//     }
// }

// @media(max-width:$tablet-width) {
//     .breadcrumbs {
//         margin: 24px 0 23px 0px;

//         align-items: center;
//     }

//     .breadcrumbs__item {
//         margin-right: 12px;
//         font-size: 14px;

//         &::after {
//             right: -8px;
//         }

//         &:first-child {
//             display: block;
//             width: 40px;
//             height: 40px;
//             border-radius: 8px;

//             @include center();

//             background-color: #24B665;

//             &::after {
//                 display: none;
//             }
//         }
//     }
// }
