.button {
    @include btn();

    @include center();
    @include font(20px,300,1.2,0,$white);

    border-radius: 24px;
    border: 2px solid $white;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        opacity: 0.6;
    }
}

@media(max-width:500px) {
    .button {
        font-size: 16px;
    }
}
