.container {
    margin: 0 auto;
    width: 1320px;
    max-width: 100%;
    padding: 0 20px;
}

.container-big {
    margin: 0 auto;
    width: 1920px;
    max-width: 100%;
}

@media (max-width:1100px) {
    .container {
        padding: 0 15px;
    }
}

