.footer__top {
    padding: 35px 0 25px;
    background-color: #1c3b73;

    border-bottom: 1px solid #3e5888;
}

.footer__bottom {
    background-color: #152c56;
    border-bottom: 1px solid #2c4673;
}

.footer__row-top {
    display: flex;
    align-items: flex-start;
}

.footer__row-bottom {
    min-height: 84px;

    display: flex;
    align-items: center;
}

.footer__logo {
    @include hover();

    margin-left: 75px;
    border: 2px solid $white;
    flex: 0 0 112px;

    width: 112px;
    height: 112px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.footer__text-column {
    margin-left: 104px;
    flex:  0 0 300px;

    & p {
        margin: 0;
        margin-bottom: 28px;
        @include font(18px,400,1.2,0,#ededed);
    }

    & a {
        @include hover();
        display: block;
        @include font(18px,400,1.2,0,#ededed);
    }

    & strong {
        display: block;
        font-weight: 600;
    }
}

.footer__list {
    @include list();
    margin-left: 70px;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__nav-link {
    @include hover();

    @include font(17px,700,1.2,0,#ededed);
    text-transform: uppercase;
}

.footer__brand-column {
    margin-left: auto;
    margin-right: 54px;

    flex: 0 0 140px;
}

.footer__brand {
    margin: 0 auto 19px;
    width: 120px;
    height: 110px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.footer__brand-text {
    margin: 0;

    @include font(18px,700,1.2,0,#ededed);
    text-align: center;
}

.footer__social-list {
    @include list();
    margin: 0 80px 0 auto;

    display: flex;
    align-items: center;
}

.footer__social-item {
    margin-left: 15px;
}

.footer__social-link {
    @include hover();
    display: block;
    width: 39px;
    height: 39px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.footer__copy {
    margin-left: 54px;
    @include font(16px,700,1,0,#8c8989);
    text-shadow: 1px 1px 0 #000;
}

@media (max-width:1200px) {
    .footer__logo,
    .footer__copy {
        margin-left: 0;
    }

    .footer__text-column,
    .footer__list {
        margin-left: auto;
    }

    .footer__list {
        margin-left: auto;
    }

    .footer__brand-column {
        margin-right: 15px;
    }

    .footer__social-list {
        margin-right: 0;
    }
}

@media (max-width:900px) {
    .footer__row-top,
    .footer__row-bottom {
        flex-wrap: wrap;

        justify-content: space-around;
    }

    .footer__logo {
        flex-basis: 86px;
        height: 86px;
    }

    .footer__text-column {
        flex-basis: 25%;
    }

    .footer__brand {
        width: 82px;
        height: 72px;
    }

    .footer__brand-text {
        font-size: 15px;
    }
}

@media (max-width:786px) {
    .footer__list {
        margin: 0 auto 0 0;
        flex: 0 0 50%;
    }

    .footer__text-column {
        flex-basis: 50%;
        margin-bottom: 25px;
    }
}

@media (max-width:480px) {
    .footer__row-top,
    .footer__row-bottom {
        display: block;
    }

    .footer__row-bottom {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer__copy {
        margin-bottom: 25px;
    }

    .footer__logo {
        width: 86px;
        margin: 0 auto 40px;
    }

    .footer__text-column {
        margin-bottom: 45px;
    }

    .footer__list {
        margin-bottom: 35px;
    }
}
