h1 {
	font-family: $Mpro;
}

.h1 {
    margin: 0;
    @include font-m(117px,300,1,0,#1c3b73);
}

@media(max-width:1024px) {
    .h1 {
        font-size: 86px;
    }
}

@media(max-width:768px) {
    .h1 {
        font-size: 56px;
    }
}
