.header {
    position: relative;
    &:before {
        position: absolute;
        top: 142px;
        left: 50%;
        z-index: 1001;
        content: '';
        display: block;
        height: 70px;
        width: 100%;
        background: url(../img/header_shadow.png) center center no-repeat;
        transform: translateX(-50%);
        opacity: 0.3;
    }
}

.header__row {
    display: flex;
    align-items: center;
}

.header__logo {
    @include hover();
    margin-left: 30px;

    width: 115px;
    height: 115px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.header__nav {
    margin: 0 auto;
}

.header__hamburger {
    display: none;
}

.header__lang {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 19px;

    & span {
        @include font(18px,600,1,0,#5b5b5b);
    }

    & input:checked ~ span {
        color: #1c3b73;
    }

    & label {
        position: relative;
        @include hover();
        margin-right: 6px;

        &:first-child::after {
            content: "|";
            vertical-align: top;
            @include font(18px,600,1,0,#5b5b5b);
        }
    }
}

.header__search {
    margin-bottom: 30px;

    & input[type=search]{
        padding: 9px 9px 9px 12px;

        outline: none;
        display: flex;
        align-items: center;
        width: 220px;
        height: 35px;

        @include font(17px,400,1,0,#333333);

        border: 1px solid #e5e3e3;
        box-shadow: none;
    }
}

.header__btn-search {
    display: none;
}

@media (max-width:1360px) {
    .header__logo {
        margin-left: 0;
    }
}

@media (max-width:1200px) {
    .header__logo {
        margin-right: 9px;
        width: 85px;
        height: 85px;
        flex: 0 0 85px;
    }

    .header__lang {
        & span {
            font-size: 17px;
        }
    }

    .header__search input[type=search] {
        width: 180px;
    }

    .header__lang {
        margin-bottom: 10px;
    }
}

@media (max-width:1100px) {
    .header__hamburger {
        display: block;
        flex: 0 0 30px;
        @include hover();
    }

    .header__btn-search {
        @include btn();
        @include center();
        margin-right: 19px;

        & svg {
            fill: rgba(white,0);
        }
    }

    .header__logo {
        margin-right: auto;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .header__search {
        padding: 15px;
        margin-bottom: 0;
        margin-right: 20px;
        display: flex;
        align-items: center;

        background-color: $white;
        border-top: 1px solid rgba($black, 0.2);
    }

    .header__lang {
        margin-bottom: 0;
        margin-right: 9px;
        flex: 1 0 auto;
    }

    .header__lang {
        flex-grow: 0;
    }

    .header__search input[type=search] {
        flex-grow: 1;
    }

    .header__logo {
        flex-basis: 66px;
        height: 66px;
    }
}


@media (max-width: 1100px) {
    .header:before {
        top: 84px;
    }
}