
@media (max-width:1100px) {
    .js-block {
        position: absolute;
        z-index: 30;
        top: 99.2%;
        left: 0;
        width: 100%;

        transition: all 0.2s ease-in;
        transform-origin: 0 0;

        opacity: 1;
    }

    .js-block-inactive {
        transform: scaleY(0);
        transform-origin: 0 0;
        opacity: 0;
        transition: all 0.2s ease-in;
    }
}
