.js-select-block {
    position: relative;

    background-color: $white;

    border-radius: 4px;
}

.js-select-list {
    position: absolute;
    left: 0;
    top: 100%;
}

// стили


.js-select-btn {
    display: flex;
    align-items: center;

    padding: 2px 16px;
    min-height: 41px;

    min-width: 152px;
    max-width: 100%;

    background-color: transparent;
    border: 1px solid $black;
    border-radius: 4px;

    outline: none;

    & i:not(.icon-Caret-down) {
        margin-right: 12px;
        color: #8798AD;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 3px;

        &::before {
            color: #8798AD;
        }
    }

    & img {
        margin-right: 12px;
        width: 15px;
        height: 15px;
    }

    & .icon-Caret-down {
        margin-left: auto;
        color: rgba(0,0,0,0.4);
        font-size: 10px;
        transition: $transition;
        vertical-align: middle;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        opacity: 0.6;
    }

    &.js-select-btn-active {
        border-radius: 4px 4px 0 0;

        & .icon-Caret-down {
            transition: $transition;
            color: $black;
        }
    }

    & span {
        margin-bottom: 3px;
        display: flex;
        align-items: center;
    }
}

.js-select {
    margin-right: 5px;

    font-family: $pt;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;

    color: $black;

    &.js-check {
        color: #0071E0;
    }

}

.js-select-list {
    @include list();

    position: absolute;
    z-index: 5;

    width: 100%;

    border: 1px solid $black;
    border-top: none;

    border-radius: 0 0 4px 4px;
    background-color: $white;
}

.js-select-item {
    display: flex;
    align-items: center;

    padding: 7px 13px 7px 13px;
    min-height: 40px;

    font-family: $pt;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0em;

    color: $black;

    & i {
        margin-right: 12px;
        color: #8798AD;

        &::before {
            color: #8798AD;
        }
    }

    & img {
        margin-right: 12px;
        width: 15px;
        height: 15px;
    }

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;

        background: #D9EAFA;

    }
}
