.main p a{
    color: $blue;
    &:hover {
        opacity: 0.8;
    }
}

.main--padding {
    padding-top: 75px;
}

.main__row {
    display: flex;
    align-items: flex-start;
}

.main__column {
    flex-grow: 1;
    width: calc(100% - 288px - 16px);
}

.main__bar {
    width: 288px;
    margin-left: 16px;
}

.main__bar-page {
    width: 288px;
    margin-right: 16px;
}

.main__border-block {
    padding-bottom: 32px;
    margin-bottom: 48px;
    border-bottom: $border;

    & section {
        margin-bottom: 0;
    }
}

@media (max-width:991px) {
    .main__bar-page {
        display: none;
    }
}

.main__grey-block {
    background: no-repeat center/cover url('../img/main-grey.png');
}
