.nav__list {
    @include list();

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav__item {
    min-height: 142px;
    position: relative;
    margin-right: 25px;
    display: flex;
    align-items: center;

    &:focus,
    &:hover,
    &:active {
        & .nav__two-list {
            display: block;
        }
    }

    &.active {
        & .nav__link {
            color: #9ebffd;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            position: absolute;
            top: 0;
            left: 0;

            background-color: #9ebffd;
        }
    }
}

.nav__link {
    @include font(18px,400,1,0,#333333);
}

a.nav__link {
    @include hover();
}

.nav__two-list {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 100%;
    left: 0;
    @include list();
    width: 333px;

    background-color: rgba(#edebeb,0.8);
    border-top: 6px solid #9ebffd;
}

.nav__two-item,
.nav__three-item {
    // position: relative;
    min-height: 39px;
    display: flex;
    align-items: center;
    padding: 5px 15px;

    border-bottom: 1px solid #bcb9b9;

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;

        background-color: rgba(#faf9f9,0.8);

        & .nav__three-list {
            display: block;
        }
    }
}

.nav__two-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__two-link,
.nav__three-link {
    @include font(17px,400,1,0,#333333);
}

.nav__three-item {
    border-left: 1px solid #bcb9b9;
}

.nav__three-list {
    display: none;
    @include list();
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 315px;

    background-color: rgba(#edebeb,0.8);
    border-top: 6px solid #9ebffd;
}

@media (max-width:1360px) {
    .nav__item {
        margin-right: 9px;
    }
}

@media (max-width:1200px) {
    .nav__item {
        min-height: 127px;
    }
}

@media (max-width:1100px) {
    .nav {
       background-color: $white;
    }

    .nav__list {
        display: block;
    }

    .nav__item {
        flex-wrap: wrap;
        margin-right: 0;
        padding: 5px 12px;
        min-height: 65px;

        border-bottom: 1px solid rgba(black,0.6);
    }

    .nav__two-list,
    .nav__three-list {
        width: 100%;
        left: 0;
        top: 99%;
        bottom: auto;
        flex: 1 0 100%;

        border-top: none;
        background-color: rgba(237,235,235,1);
    }

    .nav__two-item {
        flex-wrap: wrap;
        min-height: 45px;
    }

    .nav__three-item {
        border-left: none;
        min-height: 45px;
    }
}
