.news-card {
    min-height: 330px;
    display: flex;
    flex-direction: column;
}

.news-card__link {
    width: 125px;
    height: 45px;

    color: $black;
    border-color: $black;
}

.news-card__img {
    margin-bottom: 17px;
    width: 100%;
    height: 200px;

    & img {
        object-fit: cover;

        width: 100%;
        height: 100%;
    }
}

.news-card__text {
    margin-bottom: 20px;

    @include font-m(18px,600,1.2,0,#333333);
}

.news-card__link {
    margin-top: auto;
    font-size: 15px;
}

@media(max-width:500px) {
    .news-card {
        min-height: 320px;
    }
}
