.section-page {
    margin-bottom: 41px;
    padding-bottom: 40px;
    border-bottom: $border;
}

.section-page__caption-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 26px;
}

.section-page__caption {
    margin: 0;
    @include font(23px,500,1,0,$black);
}

.section-page__row {
    margin-bottom: 21px;
}

.section-page__three-card-row {
    margin-bottom: 24px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23px;
    grid-row-gap: 23px;

    & + .banner {
        margin-bottom: 24px;
    }
}

.section-page__two-card-row {
    margin-bottom: 24px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 23px;
    grid-row-gap: 23px;
}

.section-page__button-row {
    display: flex;
    flex-wrap: wrap;
}

.section-page__button {
    min-width: 155px;
    margin-right: auto;
}

.section-page__top-button-row {
    display: flex;
    align-items: center;
}

.section-page__tag {
    @include btn();
    @include center();
    margin-left: 8px;
    padding: 5px 16px;
    height: 40px;

    @include font(14px,400,1,0,$black);

    border-radius: 8px;
    border: $border;
    background-color: $white;

    &.active {
        color: $white;
        background-color: $black;
    }

}

.section-page__tag-icon {
    @include btn();
    @include center();
    margin-left: 8px;
    height: 40px;
    width: 40px;

    border-radius: 8px;
    border: $border;
    background-color: $white;

    & i {
        font-size: 18px;
        color: #8798AD;
    }
}

.section-page__top-button {
    @include hover();

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-left: 8px;
    padding: 0;
    width: 40px;
    height: 40px;
    padding: 7px 5px;

    border-radius: 8px;
    border: $border;
    background-color: $white;
    outline: none;

    & span {
        display: block;
        width: 5px;
        height: 5px;
        margin: 2.5px;

        border-radius: 50%;
        background-color: $black;
    }

    &.active {
        background-color: $black;
        border-color: $black;

        & span {
            background-color: $white;
        }
    }
}

.section-page__filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
}

.section-page__filter {
    margin-left: 8px;

    border-radius: 4px;
}

.section-page__filter-btn {
    width: 210px;
}

.section__mobile-store {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 18px;

    margin-top: 40px;
}

.section-page__man-card {
    box-sizing: border-box;

    background-color: $white;
    border-radius: 8px;
    border: $border;
}

.section-page__big-button {
    width: 100%;
}
