.section {
    border: $border;
    border-radius: 8px;
    background-color: $white;

    margin-bottom: 8px;
    padding: 0 23px 0 23px;
}

.section__caption-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;

    border-bottom: none;

    & > i {
        font-size: 23px;

        transition: $transition;
    }

    &.js-tab-toggle-active {
        & > i {
            transition: $transition;
            transform: rotate(180deg);
        }

        border-bottom: $border;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        opacity: 0.6;
    }

    &--no-hover {
        @include no-hover();

        border-bottom: $border;
    }
}

.section__top-column {
    display: flex;
    align-items: center;
}

.section__top-btn {
    margin-left: 8px;
    padding: 5px 34px;
    min-height: 40px;

    font-size: 14px;
}

.section__tag-column {
    display: flex;
    align-items: center;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        padding: 5px 8px;

        border-radius: 2px;

        &:last-child {
            margin-right: 0;
        }
    }

    & span i {
        margin-right: 6px;
    }
}

.section__tag-day {
    @include font(12px,500,1,0,$black);

    background: linear-gradient(181.37deg, #F4F6FC 1.18%, #FFFFFF 145.23%);

    & i {
        color: $black;
    }
}

.section__tag-blue {
    @include font(12px,500,1,0,$white);

    background: $black;

    & i {
        color: $white;
    }
}

.section__tag-type {
    @include font(12px,500,1,0,$black);

    background: linear-gradient(181.37deg, #F4F6FC 1.18%, #FFFFFF 145.23%);
}

.section__tag-name {
    @include font(12px,500,1,0,$black);

    background: linear-gradient(181.37deg, #F4F6FC 1.18%, #FFFFFF 145.23%);

    & i {
        color: $black;
    }
}

.section__tag-green {
    @include font(12px,500,1,0,$white);

    background: $black;

    & i {
        color: $white;
    }
}

.section__tag-red {
    @include font(12px,500,1,0,$white);

    background: $black;

    & i:before {
        color: $white;
    }
}

.section__caption {
    display: flex;
    align-items: center;
    margin-left: 0;
    @include font(22px,500,1,0,$black);
}

.section__caption-rating {
    margin-right: 15px;

    position: relative;
    width: 42px;
    height: 42px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        display: block;
    }

    & span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);

        @include font(14px,700,1,0,$black);
    }
}

.section__block {
    padding: 33px 0 33px 0;

    & > p {
    margin: 0;
    margin-bottom: 27px;

    @include font(16px,400,1.65,0,$black);

        & strong {
            font-weight: 500;
        }
    }
}

.section__open-link {
    display: block;
    @include hover();
    @include font(18px,500,1,0,$black);
}

.section__content {
    margin-top: 41px;
    padding-top: 38px;

    border-top: $border;

    &--no-padding {
        padding-top: 0;
    }
}

.section__text-block {
    & > p,
    & .js-text-hidden p {
        margin: 0;
        margin-bottom: 27px;

        @include font(16px,400,1.65,0,$black);

        & strong {
            font-weight: 500;
        }
    }
}

.section__bottom-link {
    width: 100%;
    height: 64px;
}

.section__link-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 11px;
}

.section__filter-btn {
    width: 200px;
    height: 40px;
}

.section__filter-active {
    color: $black;
}
