

.three-banner {
    display: flex;
    flex-wrap: wrap;
}

.three-banner__card {
    flex: 1 0 calc(100% / 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media(max-width:1000px) {
    .three-banner__card {
        margin-bottom: 25px;

        flex-basis: 100%;
        height: 250px !important;
    }
}
