.two-banner__row {
    display: flex;
    flex-wrap: wrap;
}

.two-banner__card {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    min-height: 493px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two-banner__link {
    margin-bottom: 48px;
    margin-top: 55px;

    width: 142px;
    height: 50px;

    border-color: $white;
    color: $white;
}

.two-banner__text {
    margin-top: 15px;

    width: 350px;
    max-width: 100%;

    @include font-m(42px,400,1.2,0,$white);
    text-align: center;
}

.two-banner__caption {
    @include font-m(42px,700,1.2,0,$white);
    text-align: center;
    text-transform: uppercase;
}

@media(max-width:900px) {
    .two-banner__card {
        min-height: 415px;
    }

    .two-banner__caption,
    .two-banner__text {
        font-size: 35px;
    }
}

@media(max-width:700px) {
    .two-banner__card {
        flex-basis: 100%;
    }

    .two-banner__text {
        width: auto;
    }
}
