.contact {
    padding: 45px 0 45px;

    border-top: 6px solid #9ebffd;
}

.contact__btn-row {
    display: flex;
    align-items: center;

    margin-bottom: 35px;
}

.contact__tab {
    margin-right: 17px;
    width: 220px;
    height: 45px;
    @include font-m(19px,300,1,0,#2d386d);
    text-transform: uppercase;

    border-color: #2d386d;

    &[aria-disabled=true] {
        background-color: #2d386d;
        color: $white;
    }
}

.contact__seal {
    @include hover();
    @include btn();

    margin-left: auto;
}

.contact__text-block {
    & p {
        margin: 0;
        margin-bottom: 30px;

        @include font-m(26px,400,1.3,0,#747474);
    }

    & strong {
        display: block;
        @include font-m(26px,600,1.3,0,#1c3b73);

        & a {
            @include hover();
            @include font-m(26px,600,1.3,0,#1c3b73);
        }
    }

    & a {
        @include hover();
        @include font-m(26px,400,1.3,0,#747474);
    }

    & span {
        display: block;
        @include font-m(26px,400,1.3,0,#747474);
    }
}

.contact__row {
    display: flex;
    flex-wrap: wrap;
}

.contact__column {
    padding-right: 15px;
    flex: 1 0 50%;
}

.contact__color-block {
    margin: 30px 0;
    padding: 25px 25px 15px;

    background-color: #f2f2f2;
}

@media (max-width:800px) {
    .contact__column {
        padding-right: 0;
        flex: 1 0 100%;
    }

    .contact__text-block a,
    .contact__text-block span,
    .contact__text-block strong,
    .contact__text-block strong a,
    .contact__text-block p {
        font-size: 18px;
    }

    .contact__tab {
        font-size: 14px;
    }
}
