.map-contact {
    height: 420px;
    position:relative;
    overflow:hidden;

    background:
        no-repeat left 0 top 0/contain url('../img/map-shadow.png'),
        no-repeat center/cover url('../img/map-contact.jpg');


    width: 100%;
    max-width: 100%;

    & div {
        width: 100% !important;
        height: 100% !important;
    }
}

