section.contact.slider(data-slider="contact")
    h2.visually-hidden contact
    .container
        .contact__btn-row
            button.button.contact__tab.active.js-btn-prev(type="button") Где купить
            button.button.contact__tab.js-btn-next(type="button") Интернет-магазин
            button.contact__seal(type="button")
                img(src="img/seal.png", alt="seal")
        .swiper-container
            .swiper-wrapper
                - for(var i=0;i<2;i++)
                    .contact__text-block.swiper-slide
                        p
                            |Розничная продажа оборудования Radax осуществляется только через партнерскую сеть.
                            |Если Вы заинтересованы в дистрибьюции нашей продукции, обращайтесь в специализированные подразделения компании:
                        .contact__row
                            .contact__column
                                strong Отдел дистрибьюторских продаж по России
                                span E-mail:
                                    a(href="mailto:sales_russia@polair.com") sales_russia@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407") +7 (495) 937-64-07
                                    | доб.1011/ доб.1015
                                strong Отдел торговых сетей и специальных проектов
                                span E-mail:
                                    a(href="mailto:sales_seti@polair.com") sales_seti@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407") +7 (495) 937-64-07
                                    |доб.1047/ доб.1025
                                strong Отдел по работе с корпоративными клиентами
                                span E-mail:
                                    a(href="mailto:spivakova@polair.com") spivakova@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407") +7 (495) 937-64-07
                                    |доб.1015
                            .contact__column
                                strong Отдел экспортных продаж
                                strong Stanislav Skripnikov - Head of export department
                                span E-mail:
                                    a(href="mailto:skripnikov@polair.com  ") skripnikov@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407") +7 (495) 937-64-07
                                    |ext.1007, cell:
                                    a(href="tel:+79099289253") +7 909 928-92-53
                                strong Anna Melnikova - Export manager
                                span E-mail:
                                    a(href="mailto:melnikova@polair.com ") melnikova@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407") +7 (495) 937-64-07
                                    |ext.1016
                                strong Anna Cheprakova - Export manager
                                span E-mail:
                                    a(href="mailto:cheprakova@polair.com ") cheprakova@polair.com
                                span Tел.:
                                    a(href="tel:+74959376407 ") +7 (495) 937-64-07
                                    |ext.1023
                        .contact__color-block
                            p
                                strong
                                    |Если у Вас возникли пожелания и замечания по качеству продукции торговой марки POLAIR, просим сообщить о них по адресу:
                                    a(href="mailto:kachestvo@polair.com")  kachestvo@polair.com
                            p
                                strong
                                    |В случае возникновения вопросов, касающихся исполнения обязательств по гарантийному ремонту, Вы можете обратиться за информационной поддержкой в единую сервисную службу компании АО «Полаир-Недвижимость», тел./факс
                                    a(href="tel:8362232506") (8362) 23-25-06
                                    |,e-mail:
                                    a(href="mailto:service@polair.com") service@polair.com
                        strong Официальное представительство компании в Украине — ООО «Полаир Украина»
                        span Почтовый адрес: 03150, г. Киев, ул. Е. Коновальца , д. 15, корп. 1 оф.97
                        span Тел.:
                            a(href="tel:+380442306039")  +38 (044) 230-60-39;
                            a(href="tel:+380675045156")  +38 (067) 504-51-56,
                            |e-mail:
                            a(href="mailto:zakaz@polair.ua") zakaz@polair.ua
                        span
                            |Адрес склада: г. Киев, пр. Московский, 20 А, тел.:
                            a(href="tel:+380977322064")  +38 (097) 732-20-64
                        strong Производственная площадка:
                        span 425000, Республика Марий Эл, г. Волжск, ул. Промбаза, 1
                        strong Московский офис
                        span 119334, город Москва, Ленинский пр-т, 37, корпус 1, помещение 2-5, этаж 4
                        span Тел./факс:
                            a(href="tel:+74959376407")  +7 (495) 937-64-07
                            |(многоканальный), e-mail:
                            a(href="mailto:info@polair.com") info@polair.com
