@mixin hover() {
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        text-decoration: underline;

        opacity: 0.6;
    }
}

@mixin no-hover() {
    &:hover,
    &:focus,
    &:active {
        cursor: initial;

        text-decoration: none;

        opacity: 1;
    }
}

@mixin list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin btn() {
    outline: none;
    padding: 0;

    background-color: transparent;
    border: none;

    outline: none;
}

@mixin after() {
    content: "";
    position: absolute;
    display: block;
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font($size , $weight ,$height , $spacing, $color) {
    font-family: $pt;
    font-size: $size ;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}

@mixin font-m($size , $weight ,$height , $spacing, $color) {
    font-family: $Mpro;
    font-size: $size ;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}



