$pt: "PTSans", "Arial", sans-serif;
$Mpro: "MyriadPro", "Arial", sans-serif;

$black: #000000;

$white: #ffffff;


$transition: all 0.3s ease-in;

$border: 1px solid #D9EAFA;

$mobile-width: 550px;

$tablet-width: 900px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #1c3b73;

$grey: #eaeaeb;
$grey-2: #2c363b;

$red: #ff0000;

$gutter: 28px;