.big-card {
    padding-bottom: 30px;
}

.big-card__caption {
    margin: 0;
    margin-bottom: 38px;
    @include font-m(46px,300,1,0,#1c3b73);
}

.big-card__row {
    display: grid;
    grid-template-columns: 455px 353px 1fr;
    grid-template-rows: 115px auto;
    grid-column-gap: 35px;
}

.big-card__img-block {
    grid-column: 1/2;
    grid-row: 1/3;
}

.big-card__panel {
    align-self: end;
    justify-self: end;
    grid-column: 2/4;
    grid-row: 1/2;

    width: 632px;
    height: 80px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.big-card__characteristic {
    margin-top: 35px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.big-card__table {
    margin-top: 65px;

    grid-column: 3/4;
    grid-row: 2/3;
}

.big-card__container {
    max-width: 360px;
    margin: 0 auto;
}

.big-card__slide {
    box-sizing: border-box;
}

.big-card__slider {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.big-card__prev,
.big-card__next {
    @include hover();
    width: 14px;
    height: 34px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.big-card__slide-block {
    height: 119px;
    width: 100%;

    & img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 200%;
        height: 200%;
    }
}


.big-card__big-img {
    height: 631px;
    width: 100%;
    margin-bottom: 20px;

    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    opacity: 1;
    transition: all 0.5s ease-in;

    &.inactive {
        opacity: 0;
        transition: all 0.5s ease-in;
    }
}

.big-card__video {
    margin: 0 auto;
    position: relative;
    z-index: 1;

    width: 352px;
    max-width: 100%;
    height: 198px;

    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.big-card__play {
    @include hover();
    @include btn();
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

@media (max-width:1200px) {
    .big-card__row {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 9px;
    }

    .big-card__caption {
        margin-bottom: 9px;
    }

    .big-card__row {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto auto;
    }

    .big-card__panel {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .big-card__img-block {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .big-card__characteristic {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .big-card__table {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .big-card__panel {
        width: 100%;
    }

    .big-card__big-img {
        width: 563px;
        max-width: 100%;
        margin: 0 auto;
    }

    .big-card__slider {
        justify-content: center;
    }

    .big-card__next {
        margin-left: auto;
        margin-right: 9px;
    }

    .big-card__prev {
        margin-right: auto;
        margin-left: 9px;
    }

    .big-card__container {
        margin: 0;
    }

    .big-card__img-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto auto;
        justify-content: center;
    }

    .big-card__big-img {
        grid-row: 1/3;
    }

    .big-card__big-img {
        width: 100%;
        padding: 0 20px;
    }
}

@media(max-width:768px) {
    .big-card__row,
    .big-card__img-block {
        display: block;
    }

    .big-card__container {
        width: 360px;
        max-width: 100%;
    }

    .big-card__big-img {
        height: 450px;
        margin: 30px 0;
    }
}

@media(max-width:564px) {
    .big-card__big-img {
        margin-top: 15px;
    }
}
