.characteristic__list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-column-gap: 4px;

    & dt,
    & dd {
        margin: 0;
        display: flex;
        align-items: center;
        justify-self: auto;
        padding: 5px 8px;
        min-height: 45px;

        @include font-m(14px,600,1,0,$black);

        &:nth-of-type(odd) {
            background-color: #eaeaeb;
        }
    }
}

.characteristic__caption {
    @include font-m(25px,700,1.2,0,#1c3b73);
}

.characteristic__name {
    margin-bottom: 17px;
    @include font-m(17px,600,1.2,0,#1c3b73);
}

.characteristic__link {
    @include hover();
    @include font-m(14px,400,1.2,0,#04c3ca);
}
