.technology__caption {
    margin-bottom: 13px;
    @include font-m(17px,600,1,0,#1c3b73);
}

.technology__table {
    border-bottom: 1px solid $black;

    margin-bottom: 30px;
}

.technology__row-caption {
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 3px 7px;

    @include font-m(15px,700,1,0,$black);
    text-transform: uppercase;

    background-color: #eaeaeb;

    & + .technology__row {
        border: none;
    }
}

.technology__row {
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 3px 20px 3px 7px;
    @include font-m(14px,400,1,0,$black);

    border-top: 1px solid $black;
}

.technology__tag {
    @include center();
    margin: 0 5px;
    width: 5px;
    height: 5px;

    &.black {
        border: 1px solid $black;
        background-color: $black;
        transform: rotate(45deg);
    }

    &.white {
        border: 1px solid $black;
        background-color: $black;
        transform: rotate(45deg);
    }
}

.technology__value {
    width: 29%;
    margin-left: auto;
}

.technology__about-list {
    @include list();
    display: flex;
    align-items: center;
}

.technology__about-item {
    margin: 0 9px;
    display: flex;
    align-items: center;
    border-right: 1px solid $black;

    @include font-m(14px,400,1,0,$black);
    font-style: italic;
}

