.line-text {
    padding: 65px 0 65px;
}

.line-text__row {
    display: flex;
}

.line-text__img-column {
    flex: 0 0 50%;
}

.line-text__img {
    width: 522px;
    max-width: 100%;
    margin: 0 auto;

    & img {
        display: block;
        width: 100%;
    }
}

.line-text__text-column {
    flex: 0 1 auto;
    margin-right: 60px;

    & p {
        margin: 0;
        margin-bottom: 15px;

        @include font-m(23px,300,1.3,0,#747474);

        & strong {
            font-weight: 600;
            line-height: 1.2;
            color: #1c3b73;
        }
    }
}

@media(max-width:1200px) {
    .line-text__text-column {
        flex: 1 0 50%;
        margin-right: 14px;
    }

    .line-text__img-column {
        flex: 1 0 50%;
    }

    .line-text__img {
        width: 100%;
    }
}

@media(max-width:768px) {
    .line-text {
        padding: 40px 0;
    }

    .line-text__row {
        flex-direction: column;
        align-items: center;
    }

    .line-text__text-column {
        flex: 1 0 100%;
        margin-bottom: 35px;

        & p {
            font-size: 18px;
        }
    }

    .line-text__img-column {
        flex: 1 0 100%;
        margin-right: 0;
    }
}

@media(max-width:576px) {

}
