.line-main {
    padding: 45px 0 0;
    background:
        no-repeat top center / cover url('../img/top-shadow.png'),
        no-repeat center / cover url('../img/line-main-bcg.png');
    border-bottom: 14px solid #9ebffd;
}

.line-main__row {
    display: flex;
}

.line-main__text-column {
    flex: 0 1 50%;
    padding-bottom: 25px;
    padding-right: 25px;
}

.line-main__img-column {
    flex: 0 1 50%;
    overflow: hidden;
}

.line-main__img {
    width: 675px;
    max-width: 100%;
    margin: 0 auto;

    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.line-main__man {
    width: 410px;
    margin-bottom: 25px;
    margin-top: 59px;

    & img {
        width: 100%;
    }
}

.line-main__text {
    @include font-m(57px,300,1.2,0,#000000);
    font-style: italic;
}

@media(max-width:1200px) {
    .line-main__man {
        width: 312px;
        margin-bottom: 25px;
        margin-top: 13px;
    }
}

@media(max-width:1024px) {
    .line-main__man {
        width: 232px;
    }

    .line-main__text {
        font-size: 38px;
    }
}

@media(max-width:768px) {
    .line-main__row {
        display: block;
    }

    .line-main__text {
        text-align: center;
        font-size: 28px;
    }

    .line-main__caption {
        text-align: center;
        margin-bottom: 21px;
    }

    .line-main__text-column {
        padding: 0;
        margin-bottom: 35px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
