.line-banner {
    position: relative;
    z-index: 1;
    min-height: 345px;
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-banner__overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(#000000,0.3);
    box-shadow: inset 0 -119px 112px -76px #000000;
}

.line-banner__caption {
    @include font-m(55px,700,1.2,0,$white);
    text-align: center;

    margin: 8px 0;
}

.line-banner__text {
    margin: 8px 0;
    text-align: center;
    @include font-m(35px,700,1.2,0,$white);
}

@media(max-width:768px) {
    .line-banner {
        min-height: 235px;
    }

    .line-banner__caption {
        font-size: 33px;
        line-height: 1;
    }

    .line-banner__text {
        font-size: 28px;
    }
}
