.line-oven {
    padding: 87px 0 85px;
}

.line-oven__row {
    display: flex;
    flex-wrap: wrap;
}

.line-oven__card {
    flex: 1 0 33%;
    padding: 0 5px;
    margin-bottom: 10px;
}

.line-oven__img-block {
    display: flex;
    align-items: flex-end;

    height: 490px;
    width: 100%;

    margin-bottom: 5px;
}


.line-oven__img {
    position: relative;
    width: 100%;

    & img {
        width: 100%;
        max-height: 470px;
    }

    &:hover,
    &:focus,
    &:active {
        & .line-oven__list {
            display: block;
        }
    }
}

.line-oven__list {
    @include list();
    position: absolute;
    width: 100%;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);

    display: none;
}

.line-oven__item {
    margin-bottom: 15px;
}

.line-oven__link {
    @include center();
    margin: 0 auto;
    padding: 5px;
    width: 194px;
    min-height: 45px;

    @include font-m(18px,700,1,0,#434b76);
    text-transform: uppercase;

    border-radius: 15px;
    background-color: rgba(#eaeaea,0.8);
    box-shadow:
        inset 0 7px 15px -5px #FFFFFF,
        0 15px 15px 0 #9a9a9a;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        color: $white;
        background-color: rgba(#434b76,0.8);
    }
}

.line-oven__name {
    @include font-m(27px,600,1,0,#1c3b73);
    text-align: center;
    margin-bottom: 7px;
    display: block;
}

.line-oven__text {
    @include font-m(27px,400,1,0,#000000);
    text-align: center;
    display: block;
}

@media (max-width:1200px) {
    .line-oven {
        padding-top: 27px;
    }
}

@media (max-width:1024px) {
    .line-oven__row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .line-oven__card {
        flex: 0 0 40%;
    }

    .line-oven__img-block {
        height: 450px;
    }
}

@media (max-width:768px) {
    .line-oven__card {
        flex: 1 0 100%;
        margin: 25px 0 0;
    }

    .line-oven__img-block {
        height: auto;
    }

    .line-oven__img {
        max-width: 100%;
        width: 360px;
        margin: 0 auto;
    }
}

@media (max-width:375px) {
   .line-oven__img {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .line-oven__list {
        top: 56%;
    }
}
