extends pug/layout.pug
block variables
    - var title = 'Страница карточки'

block content
    main.main
        .main__grey-block
            .container
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Продукция
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") TOLSTOY
                    li.breadcrumbs__item
                        span.breadcrumbs__link TL12DYC / TL12DY0
                include pug/blocks/card-page/big-card.pug
        .popup.js-popup.hidden(data-block="video")
            .popup__video
                <iframe src="https://www.youtube.com/embed/oa-9OBDIIeo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                button.popup__close.js-popup-close(type="button" id="sdf")
                    svg(width="25" height="25")
                        use(xlink:href="#icon-close")
