extends pug/layout.pug
block variables
    - var title = 'Контакты'

block append head
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


block content
    main.main
        //- ul.breadcrumbs
        //-     li.breadcrumbs__item
        //-         span.breadcrumbs__link Редакция 24 Бет
        .container-big
            include pug/blocks/contact-page/map.pug
            include pug/blocks/contact-page/contact.pug

