doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
        title radax
        link(rel="stylesheet" href="css/style.min.css")
    body
        ol
            li
                a(href="main-page.html") Главная
            li
                a(href="company-page.html") О компании
            li
                a(href="contact-page.html") Контакты
            li
                a(href="line-page.html") Страница линии
            li
                a(href="product.html") Продукт
            li
                a(href="card-page.html") Страница карточки
