extends pug/layout.pug
block variables
    - var title = 'Главная страница'

block content
    main.main
        //- ul.breadcrumbs
        //-     li.breadcrumbs__item
        //-         span.breadcrumbs__link Редакция 24 Бет
        .container-big
            include pug/blocks/main-page/main-slider.pug
            include pug/blocks/main-page/line-slider.pug
            include pug/blocks/main-page/banner.pug
            include pug/blocks/main-page/sphere.pug
            include pug/blocks/main-page/two-banner.pug
            include pug/blocks/main-page/news.pug
            include pug/blocks/main-page/form.pug
