extends pug/layout.pug
block variables
    - var title = 'Продукт'

block content
    main.main
        //- ul.breadcrumbs
        //-     li.breadcrumbs__item
        //-         span.breadcrumbs__link Редакция 24 Бет
        .container-big
            include pug/blocks/product/product.pug

