.banner(style="background-image:url('img/company-1.jpg'); height: 582px;")
section.about
    .container.about__row
        .about__text-column
            h2.about__caption
                strong Новый итало-российский бренд
                |- развитие давних традиций и связей
            p.about__text
                |ИТАЛИЯ и РОССИЯ связаны давней тонкой нитью, которая переплетает их истории, создавая интересные примеры взаимного влияния, закладывая основы для новых вдохновляющих возможностей. Переосмысление в современном ключе наших культурных и экономических традиций, этой особой связи повлияло на создание марки RADAХ.
        .about__img
            img(src="img/about-1.jpg", alt="about")
.banner(style="background-image:url('img/company-2.jpg'); height: 495px;")
section.about
    .container.about__row
        .about__text-column
            h2.about__caption
                strong Разработки и производство во имя технологических инноваций
            p.about__text
                |Radax – технологически продвинутая и ориентированная на будущее компания. Наш научно-исследовательский отдел и производственные линии оснащены самым современным оборудованием последнего поколения для наиболее эффективного решения проблем международного рынка. Дальновидный подход нашей компании привел к крупным инвестициям в инновации, гарантирующим максимальную производительность, безопасность и надежность на всех этапах от проектирования до производства.
        .about__img
            img(src="img/about-2.jpg", alt="about")
.three-banner
    .three-banner__card(style="background-image:url('img/company-3.jpg'); height: 565px;")
    .three-banner__card(style="background-image:url('img/company-4.jpg'); height: 565px;")
    .three-banner__card(style="background-image:url('img/company-5.jpg'); height: 565px;")
section.about
    .container.about__row
        .about__text-column
            h2.about__caption
                strong
                    img(src="img/PolairGroup-2.png", alt="PolairGroup")
                    |Radax & Polair Group: партнерство передового опыта
            p.about__text
                |Radax – итало-российская компания и партнер Polair Group, одной из самых передовых и известных промышленных групп, работающих в области оборудования для общественного питания. Благодаря высочайшему уровеню профессионального мастерства и технологическим инновациям, это высокоэффективное сотрудничество помогает оптимизировать производство, повышает конкурентоспособность продукции на мировом рынке и создает новые возмжности для развития.
        .about__img
            img(src="img/about-3.png", alt="about")
