.container.breadcrumbs__row
    ul.breadcrumbs
        li.breadcrumbs__item
            a.breadcrumbs__link(href="main.html") Продукция 
        li.breadcrumbs__item
            a.breadcrumbs__link(href="main.html") TOLSTOY
        li.breadcrumbs__item
            span.breadcrumbs__link.breadcrumbs__link--active TL12DYC / TL12DY0 
    h1.breadcrumbs__title
        | TOLSTOY
section.container.product__row
    .product__media
        .product__media-img.product__big-img
            a(href="img/product-1.jpg", data-gallery)
                img(src="img/product-1.jpg", alt="Большое фото датчика")
            a.product__media-video(data-fancybox, data-width="640", data-height="360", href="https://www.youtube.com/watch?v=DLX62G4lc44")
                img(src="img/video.jpg")
            //.product__img-row
                .product__img.product__img--active
                    img(src="img/product-1.jpg", alt="Малое фото датчика")
                .product__img
                    img(src="img/product-2.jpg", alt="Малое фото датчика")
                .product__img
                    img(src="img/product-3.jpg", alt="Малое фото датчика")
    .product__desc
        .product__photo
            img(src="img/product-photo.jpg", alt="Дополнительное фото датчика")
        h2.product__desc-title TL12DYC / TL12DY0
        .product__chars
            h3.product__desc-subtitle Технические характеристики
            table
                tr
                    td Technology
                    td Electric / Combi
                tr
                    td Tray capacity
                    td 12 GN 1/1
                tr
                    td Distance between tray
                    td 70mm
                tr
                    td Frecquency
                    td 50/60
                tr
                    td Technology
                    td Electric / Combi
                tr
                    td Tray capacity
                    td 12 GN 1/1
                tr
                    td Distance between tray
                    td 70mm
                tr
                    td Frecquency
                    td 50/60
                tr
                    td Distance between tray
                    td 70mm
            p
                a(href="#") Скачать спецификацию

        .product__techs
            h3.product__desc-subtitle Технологии
            table.product__techs-table
                tr
                    th(colspan="3") Manual 
                tr
                    td Technology
                    td 30-250C
                    td 
                       .product__techs-table_marker 
                tr
                    td Technology
                    td 30-250C
                    td 
                       .product__techs-table_marker.active 
                tr
                    td Technology
                    td
                    td 
                       .product__techs-table_marker 
                tr
                    td Technology of strange power of owen
                    td
                    td -
                tr
                    td Technology
                    td
                    td 
                       .product__techs-table_marker.active
                tr
                    th(colspan="3") Special cycles 
                tr
                    td Technology
                    td Electric / Combi
                    td -
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker.active 
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker 
                tr
                    th(colspan="3") X Double
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker 
                tr
                    th(colspan="3") Other function
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker 
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker.active 
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker
                tr
                    th(colspan="3") Other function
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker 
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker.active 
                tr
                    th(colspan="3") Other function
                tr
                    td Technology
                    td Electric / Combi
                    td -
                tr
                    td Technology
                    td Electric / Combi
                    td 
                       .product__techs-table_marker.active 
            p
                | Стандарт &nbsp;
                span.product__techs-table_marker.active 
                | &nbsp;&nbsp; Опция &nbsp;
                span.product__techs-table_marker
                | &nbsp;&nbsp; Недоступно - 
    .product__price
        | Цена 
        span 10 000
        |  руб